.top {
    &-section {
        display: flex;
        height: $top-section-height;
        justify-content: space-between;
        padding-inline-start: 14.5rem;
        padding-inline-end: 14.5rem;
        background-color: $color-white;
        // border: 1px solid red;

        animation: moveInTopFull 0.3s ease-in-out;

        transition: 0.3s all;

        border-bottom: 0px solid black;
        box-shadow: 0;
        position: sticky;
        z-index: 1;

        @include respond(mini-desktop) {
            height: 10rem;
            padding-inline-start: 10rem;
            padding-inline-end: 10rem;
        }

        &.sticky {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            height: $top-section-height;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
            // border-bottom: 1px solid black;

            animation: moveInBottomFull 0.3s ease-in-out;
            transition: 0.3s all;

            @include respond(mini-desktop) {
                height: 10rem;
                padding-inline-start: 7rem;
                padding-inline-end: 7rem;
            }

            &~.join-section {
                margin-block-start: $top-section-height;
            }
        }
    }

    &-right {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        @include respond(mini-desktop) {}

        &-item {
            width: 11rem;
            height: auto;
            aspect-ratio: 4.774;
            // margin-block-end: 0.8rem;
            // margin-block-start: 4rem;

            @include respond(mini-desktop) {
                width: 30rem;
                height: auto;
                aspect-ratio: 4.774;
                margin-block-start: 1.2rem;
                margin-block-end: 1.2rem;
            }
        }

        &-logo {
            &-img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
            }

        }

    }

    &-left {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;

        @include respond(mini-desktop) {
            gap: 3rem;
        }

        // &-item {
        & a {
            width: 2rem;
            height: 2rem;

            @include respond(mini-desktop) {
                // margin-block-start: 1.2rem;
                // margin-block-end: 1.2rem;
                width: 6rem;
                height: 6rem;
                height: 7.6rem;
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
            }
        }

        // }
    }
}