.why {
    &-section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block-start: 12rem;
        padding-block-end: 4rem;
        padding-inline-start: 7rem;
        padding-inline-end: 7rem;
        // height: 5rem;
        //    justify-content: space-between;
        //    padding-inline-end: 14.5rem;

        // border: 1px solid green;

        @include respond(mini-desktop) {
            flex-direction: column;
            padding-inline-start: 5rem;
            padding-inline-end: 5rem;
        }
    }

    &-title {
        color: $color-black;
        line-height: 4.2rem;
        font-size: 4.1rem;
        width: 25%;

        @include respond(mini-desktop) {
            line-height: 6.8rem;
            font-size: 6.8rem;
            margin-block-end: 1rem;
            width: 100%;
            text-align: center;
        }
    }

    &-list {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-inline-start: 1rem;
        border-inline-start: 0.5rem solid $color-primary;

        @include respond(mini-desktop) {
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            border-inline-start: 0;
        }
    }

    &-item {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        width: 45%;
        // border: 1px solid;
        text-align: center;
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;

        @include respond(mini-desktop) {
            width: 49%;
            padding-inline-start: 0rem;
            padding-inline-end: 0rem;
        }


        &-image {
            align-self: center;
            width: 2.5rem;
            height: 2.5rem;

            @include respond(mini-desktop) {
                width: 6rem;
                height: 6rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        // flex-direction: column;
        @include respond(mini-desktop) {
            flex-direction: column;
            align-items: center;
            margin-block-start: 5rem;

            &>p {
                font-size: 4rem;
                line-height: 4.5rem;
                text-align: center;
            }

        }
    }
}